version: '2'

services:
  lb:
    image: localhost:5000/dockerlb_lb:latest
    ports:
      - "80:80"
    depends_on:
      - web
    networks:
      - front-tier
    environment:
      - "constraint:node==swarm-node-1"
      - APP_NAME=dockerlb_web
      - CONSUL_URL=${KV_IP}:8500

  web:
    image: localhost:5000/dockerlb_web:latest
    ports:
      - "5000"
    networks:
      - front-tier
    environment:
      - "constraint:node==/swarm-node-[23456789]/"
      - SERVICE_CHECK_HTTP=/
      - SERVICE_CHECK_INTERVAL=15s

networks:
  front-tier:
    driver: overlay
